[submodule "bundle/vim-sloarized-theme"]
	path = bundle/vim-sloarized-theme
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = https://github.com/Ardakilic/vim-tomorrow-night-theme.git
